{%- set interface = 'enp0s8' -%}
{%- set addr = salt['network.interface_ip'](interface) -%}

upstream backend  {
{% for server in salt['cmd.run']('cat /srv/files/data/webservers/ | grep -v "#"').split() %}
	server {{ server }};
{% endfor %}
}

server {
	listen {{ addr }}:80;
	server_name {{ addr }};
	location / {
		proxy_pass  http://backend;
	}
}
