{%- set interface = 'enp0s8' -%}
{%- set addr = salt['network.interface_ip'](interface) -%}

upstream backend  {
#webservers
}

server {
	listen {{ addr }}:80;
	server_name {{ addr }};
	location / {
		proxy_pass  http://backend;
	}
}
